* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.container--text-center {
  text-align: center;
}

.wrap {
  max-width: 1920px;
  margin: 0 auto;
}

.btn,
.form__btn {
  display: inline-flex;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  border: none;
  align-items: center;
  justify-content: center;
}

.btn-bordered {
  border-radius: 5px;
}

.btn-accent {
  background-color: #e7434e;
  color: #fff;
}

.btn-accent__icon {
  height: 16px;
  margin-right: 7px;
}

.btn-accent__icon path {
  fill: #fff;
}

.form {
  display: flex;
  border-radius: 5px;
  overflow: hidden;
}

.form__field {
  width: 100%;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0 10px;
  outline: none;
}

/* .form__field:focus {
  border: 1px solid red;
} */

.form__btn {
  height: 60px;
  width: 200px;
  border-radius: none;
}

.intro {
  height: 100vh;
  background-image: url("./img/intro.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  color: #fff;
  position: relative;
  z-index: 0;
  color: #f9fafe;
}

.intro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  mix-blend-mode: multiply;
  background-color: #555555;
  z-index: -1;
}

.intro__title {
  font-size: 72px;
  font-weight: 700;
  letter-spacing: 5.76px;
  margin-bottom: 30px;
}

.intro__subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.intro__form {
  width: 64%;
  margin: 90px auto 0;
}
