h1 {
  color: red;
}
h2 {
  color: gold;
}

/* .blo {
  display: flex;
  &__element {

  }
  &__element2 {
    &--mod {
      &:hover {

      }
    }
  }
}

.block {
  display: flex;
}

.block__element {

}

.block__element2 {

}

.block__element2--mod {

}

.block__element2--mod:hover {

} */
